name: Check Description

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions:
  pull-requests: write
  issues: read
  contents: read

jobs:
  check:
    uses: ./.github/workflows/check-description.yml
    with:
      mode: draft
    secrets: inherit
