name: Check Linked Issue

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions:
  pull-requests: write
  issues: write
  contents: write

jobs:
  check-linked-issue:
    uses: ./.github/workflows/check-linked-issue.yml
    with:
      mode: comment
